@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}
p{
    font-weight: 300;
    color:#111;
}


.banner{
    position:relative;
    width:100%;
    min-height:100vh;
    display:flex;
    justify-content: center;
    align-items:center;
    background: url(bg.jpg);
    background-size: cover;

}





  /* menu-category */

  .menu-category__more {
    text-align: center;
    margin: 0;
    padding: 0;
    line-height: 0;
    font-size: 0;
  }

  .menu-category__more a {
    display: inline-block;
    font-size: 14px;
    color: #0073bb;
    text-decoration: none;
    margin-bottom: 40px;
  }

  .menu-category__more a:hover {
    text-decoration: underline;
    cursor: pointer;
  }

header{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    padding: 40px 100px;
    z-index:10000;
    display:flex;
    justify-content: space-between;
    align-items:center;
    transition:0.5s;
}
header.sticky{
    background:#fff;
    padding:10px 0px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.05);
}

header.sticky .logo{
    color:#111;
}
header .logo{
    color:#fff;
    font-size:700;
    font-size:2em;
    text-decoration:none;
}

header .logo span{
    color:#ff0157;
}

header .navigation{
    position:relative;
    display:flex;
}

header .navigation li{
    list-style:none;
    margin-left:30px;
}

header .navigation li a{
    text-decoration: none;
    color:#fff;
    font-weight:300;
}

header.sticky .navigation li a{
    color:#111;
}

header .navigation li a:hover{
    color:#ff0157;
}

section{
    padding:100px;
}

.row{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.row .col50{
    position:relative;
    width:48%;
}

.titleText{
    color:#111;
    font-size:2em;
    font-weight:300;
    text-align:center;
}

.titleText span{
    color:#ff0157;
    font-weight:700;
    font-size:1.5em;
}

.row .col50 .imgBx{
    position:relative;
    width:100%;
    height:100%;
}

.row .col50 .imgBx img{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    object-fit: cover;
}


/*reautrant*/
.main-content__heading span{
    color:#ff0157;
    font-weight:700;
    font-size:1.5em;
}
.main-content__heading {
    font-size: 21px;
    font-weight: bold;
    text-align: center;
    padding-top: 32px;
    padding-bottom: 19px;
  }

  .reautrant .reautrant-list {
    position: relative;
    width: 960px;
    box-sizing: border-box;
    text-align: center;
    border-bottom: 1px solid #ccc;
    padding: 0;
    padding-bottom: 12px;
    margin: 0 auto;
    margin-bottom: 53px;
  }
  .reautrant-list .reautrant-list__item_hot{
    display: inline-block;
    font-size: 1rem;
    color:#ff0157;
    font-weight:700;
    font-size:1.5em;
  }
  .reautrant-list .reautrant-list__item {
    display: inline-block;
    font-size: 1rem;
  }

  .reautrant-list .reautrant-list__link_hot{
    text-decoration: none;
    color: #ff0157;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
    font-size: 14px;
  }
  .reautrant-list .reautrant-list__link {
    text-decoration: none;
    color: #666;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
    font-size: 14px;
  }

  .reautrant-list .reautrant-list__link:hover {
    padding-bottom: 7px;
    border-bottom: 3px solid #D32323;
    cursor: pointer;
  }

.reautrant .content{
    display:flex;
    justify-content: center;
    flex-direction:row-reverse;
    flex-wrap:wrap;
    margin-top: 40px;
}

.reautrant .content .box{
    width:340px;
    margin:20px;
    border: 15px solid #fff;
    box-shadow: 0 5px 35px rgba(0,0,0,0.08);
}

.reautrant .content .box .imgBx{
    position:relative;
    width:100%;
    height:300px;

}

.reautrant .content .box .imgBx img{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    object-fit: cover;
}

.reautrant .content .box .text{
    padding:15px 0 5px;
}

.reautrant .content .box .text h3{
    font-size:400;
    color:#111;
}



@media (min-width:400px) and (max-width:450px)

 {
  header{
    padding: 0px 8px;
  }
  .banner {
    min-height: 30vh;
    background-size: 412px 240px;
}
  section {
    padding: 0px;
    width: 412px;
}
  .reautrant .reautrant-list {
    position: relative;
    width:412px;
    box-sizing: border-box;
    text-align: center;
    border-bottom: 1px solid #ccc;
    padding: 0;
    padding-bottom: 12px;
    margin: 0 auto;
    margin-bottom: 53px;
}
.main-content__heading {
  font-size: 21px;
  font-weight: bold;
  text-align: center;
  padding-top: 10px;
  padding-bottom:0px;
}
.reautrant .reautrant-list{
  width:412px;
  margin-bottom: 0px;
  padding-bottom: 6px;
}
.reautrant .content{
  margin-top:0px;
}
.reautrant .content .box {
  width: 68px;
}
.reautrant .content .box {
  width: 183px;
  border: 10px solid #fff;
  height: 175px;
}
.reautrant .content .box .imgBx {
  position: relative;
  width: 100%;
  height: 140px;
}
.reautrant .content .box .text h3 {
  color: #111;
  font-size: 10px;
}

.reautrant .content .box {
  margin: 2px;
  margin-bottom: 6px;
}
.reautrant .content .box .text {
  padding: 6px 0 0px;
}
}

@media (min-width:321px) and (max-width:376px)

 {
  header{
    padding: 0px 8px;
  }
  .banner{
    min-height: 30vh;
    background-size: 375px 198px;
  }
  section {
    padding: 0px;
    width: 375px;
}
  .reautrant .reautrant-list {
    position: relative;
    width:375px;
    box-sizing: border-box;
    text-align: center;
    border-bottom: 1px solid #ccc;
    padding: 0;
    padding-bottom: 12px;
    margin: 0 auto;
    margin-bottom: 53px;
}
.main-content__heading {
  font-size: 21px;
  font-weight: bold;
  text-align: center;
  padding-top: 10px;
  padding-bottom:0px;
}
.reautrant .reautrant-list{
  width:375px;
  margin-bottom: 0px;
  padding-bottom: 6px;
}
.reautrant .content{
  margin-top:0px;
}
.reautrant .content .box {
  width: 68px;
}
.reautrant .content .box {
  width: 183px;
  border: 10px solid #fff;
  height: 175px;
}
.reautrant .content .box .imgBx {
  position: relative;
  width: 100%;
  height: 140px;
}
.reautrant .content .box .text h3 {
  color: #111;
  font-size: 10px;
}

.reautrant .content .box {
  margin: 2px;
  margin-bottom: 6px;
}
.reautrant .content .box .text {
  padding: 6px 0 0px;
}
}

@media (min-width:200px) and (max-width:300px)

 {
  header{
    padding: 0px 8px;
  }
  .banner{
    min-height: 30vh;
    background-size: 280px 194px;
  }
  section {
    padding: 0px;
    width: 280px;
}
  .reautrant .reautrant-list {
    position: relative;
    width:280px;
    box-sizing: border-box;
    text-align: center;
    border-bottom: 1px solid #ccc;
    padding: 0;
    padding-bottom: 12px;
    margin: 0 auto;
    margin-bottom: 53px;
}
.main-content__heading {
  font-size: 21px;
  font-weight: bold;
  text-align: center;
  padding-top: 10px;
  padding-bottom:0px;
}
.reautrant .reautrant-list{
  width:280px;
  margin-bottom: 0px;
  padding-bottom: 6px;
}
.reautrant .content{
  margin-top:0px;
}
.reautrant .content .box {
  width: 68px;
}
.reautrant .content .box {
  width: 136px;
  border: 10px solid #fff;
  height: 156px;
}
.reautrant .content .box .imgBx {
  position: relative;
  width: 100%;
  height: 123px;
}
.reautrant .content .box .text h3 {
  color: #111;
  font-size: 10px;
}

.reautrant .content .box {
  margin: 2px;
  margin-bottom: 6px;
}
.reautrant .content .box .text {
  padding: 6px 0 0px;
}
}

@media (min-width:300px) and (max-width:320px)

 {
  header{
    padding: 0px 8px;
  }
  .banner{
    min-height: 30vh;
    background-size: 320px 198px;
  }
  section {
    padding: 0px;
    width: 320px;
}
  .reautrant .reautrant-list {
    position: relative;
    width:320px;
    box-sizing: border-box;
    text-align: center;
    border-bottom: 1px solid #ccc;
    padding: 0;
    padding-bottom: 12px;
    margin: 0 auto;
    margin-bottom: 53px;
}
.main-content__heading {
  font-size: 21px;
  font-weight: bold;
  text-align: center;
  padding-top: 10px;
  padding-bottom:0px;
}
.reautrant .reautrant-list{
  width:320px;
  margin-bottom: 0px;
  padding-bottom: 6px;
}
.reautrant .content{
  margin-top:0px;
}
.reautrant .content .box {
  width: 68px;
}
.reautrant .content .box {
  width: 156px;
  border: 10px solid #fff;
  height: 175px;
}
.reautrant .content .box .imgBx {
  position: relative;
  width: 100%;
  height: 140px;
}
.reautrant .content .box .text h3 {
  color: #111;
  font-size: 10px;
}

.reautrant .content .box {
  margin: 2px;
  margin-bottom: 6px;
}
.reautrant .content .box .text {
  padding: 6px 0 0px;
}
}
